@model IEnumerable<TheTask.Models.EmpPlusSalGradePL>

@foreach (var emp in Model)
{
<div class="child">
    @using (Ajax.BeginForm("GetSubordinates", new { MgrNo = emp.EmpNo }, new AjaxOptions
    { HttpMethod = "GET", OnSuccess = "ReplaceButton('" + emp.EmpNo + "')", UpdateTargetId = emp.EmpNo.ToString(), InsertionMode = InsertionMode.Replace }))
    {
<input type="submit" value="+" class="btn" id="Replace-@emp.EmpNo" />}
</div>
                <div class="child">@emp.EmpName</div>
                                <div class="child">@emp.Comm</div>
                                                <div class="child">@emp.HireDate.Value.Month/@emp.HireDate.Value.Day/@emp.HireDate.Value.Year</div>
                                                                <div class="child">@emp.Job</div>
                                                                                <div class="child">@emp.Sal</div>
                                                                                                <div class="child">@emp.Grade</div>
                                                                                                                <div class="parent" id="@emp.EmpNo"></div>}
