@model IEnumerable<TheTask.Models.EmpPL>
@foreach (var emp in Model)
{
<div class="child">
    @using (Ajax.BeginForm("GetSubordinates", new { MgrNo = emp.EmpNo }, new AjaxOptions
    { HttpMethod = "GET", OnSuccess = "OnSuccess", UpdateTargetId = emp.EmpNo.ToString(), InsertionMode = InsertionMode.Replace }))
    {
<input type="submit" value="+" class="btn" />}
</div>
                <div class="child">@emp.DeptNo</div>
                                <div class="child">@emp.EmpNo</div>
                                                <div class="child">@emp.EmpName</div>
                                                                <div class="child">@emp.Comm</div>
                                                                                <div class="child">@emp.HireDate</div>
                                                                                                <div class="child">@emp.Job</div>
                                                                                                                <div class="child">@emp.Mgr</div>
                                                                                                                                <div class="child">@emp.Sal</div>
                                                                                                                                                <div class="parent" id="@emp.EmpNo"></div>}
