@model IEnumerable<TheTask.Models.EmpPlusSalGradePL>


<head>
    <style>
        .btn {
            width: 50px;
            height: 50px;
            color: #273037;
            background-color: #D5B45B;
        }
    </style>
</head>
<body>
    <div class="parent">
        <div class="child"></div>
        @*<div class="child">DEPTNO</div>
            <div class="child">EMPNO</div>*@
        <div class="child">ENAME</div>
        <div class="child">COMM</div>
        <div class="child">HIREDATE</div>
        <div class="child">JOB</div>
        <div class="child">SAL</div>
        <div class="child">GRADE</div>

        <div class="parent">
            @foreach (var emp in Model)
            {
                <div class="child">
                    @using (Ajax.BeginForm("GetSubordinates", new { MgrNo = emp.EmpNo }, new AjaxOptions
                    { HttpMethod = "GET", OnSuccess = "AnimateVoteMessage('" + emp.EmpNo + "')", UpdateTargetId = emp.EmpNo.ToString(), InsertionMode = InsertionMode.Replace }))
                    {
                        <input type="submit" value="+" class="btn" id="Replace-@emp.EmpNo" />}
                </div>
                <div class="child">@emp.EmpName</div>
                <div class="child">@emp.Comm</div>
                <div class="child">@emp.HireDate.Value.Month/@emp.HireDate.Value.Day/@emp.HireDate.Value.Year</div>
                <div class="child">@emp.Job</div>
                <div class="child">@emp.Sal</div>
                <div class="child">@emp.Grade</div>
                <div class="parent" id="@emp.EmpNo"></div>}
        </div>
    </div>
</body>




@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    <script>
        function AnimateVoteMessage(empNo) {
            var btn = document.createElement('button');
            btn.setAttribute('class', "btn");
            btn.setAttribute('id', empNo);
            $(btn).text("-");

            $('#Replace-' + empNo).parent().replaceWith(btn);
        }

        $(document).on('click', "button", function () {
            var id = $(this).attr('id');
            var btn = $(this).text();
            if (btn != "+") {
                $("[id = '" + id + "'][class = parent]").hide(300);
                $(this).text("+");
            } else {
                $("[id = '" + id + "'][class = parent]").show(300);
                $(this).text("-");
            }
        });
    </script>
}
