@model IEnumerable<TheTask.Models.EmpPL>

<div>
    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th></th>
            <th>DEPTNO</th>
            <th>EMPNO</th>
            <th>ENAME</th>
            <th>COMM</th>
            <th>HIREDATE</th>
            <th>JOB</th>
            <th>MGR</th>
            <th>SAL</th>
        </tr>
        @foreach (var emp in Model)
        {

            <tr>
                <td>
                    @Ajax.ActionLink("+", "GetSubordinates", new { MgrNo = emp.EmpNo }, new AjaxOptions
                             { HttpMethod = "GET", UpdateTargetId = emp.EmpNo.ToString(), InsertionMode = InsertionMode.Replace })
                </td>
                <td>@emp.DeptNo</td>
                <td>@emp.EmpNo</td>
                <td>@emp.EmpName</td>
                <td>@emp.Comm</td>
                <td>@emp.HireDate</td>
                <td>@emp.Job</td>
                <td>@emp.Mgr</td>
                <td>@emp.Sal</td>
            </tr>
            <tbody id="@emp.EmpNo">
            </tbody>
        }
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
}

