@model IEnumerable<IGrouping<decimal?, TheTask.Models.EmpPL>>

<div>
    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th>DEPTNO</th>
            <th>ENAME</th>
            <th>COMM</th>
            <th>HIREDATE</th>
            <th>JOB</th>
            <th>SAL</th>
        </tr>
        @foreach (var dept in Model)
        {
            decimal? avgSal = 0;
            foreach (var emps in dept)
            {
    <tr>
        <td>@emps.DeptNo</td>
        <td>@emps.EmpName</td>
        <td>@emps.Comm</td>
        <td>@emps.HireDate.Value.Month/@emps.HireDate.Value.Day/@emps.HireDate.Value.Year</td>
        <td>@emps.Job</td>
        <td>@emps.Sal</td>
    </tr>
            avgSal += emps.Sal;
                    }
    <tr>
        <th>AVG</th>
        <td>@string.Format("{0:0.00}", (avgSal / dept.Count()))</td>
    </tr>}
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
}
