@model IEnumerable<TheTask.Models.EmpPL>

<div>
    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th>DEPTNO</th>
            <th>EMPNO</th>
            <th>ENAME</th>
            <th>COMM</th>
            <th>HIREDATE</th>
            <th>JOB</th>
            <th>MGR</th>
            <th>SAL</th>
        </tr>
        @foreach (var emps in Model)
        {
<tr id="@emps.EmpNo">
    <td>@emps.DeptNo</td>
    <td>@emps.EmpNo</td>
    <td>@emps.EmpName</td>
    <td>@emps.Comm</td>
    <td>@emps.HireDate</td>
    <td>@emps.Job</td>
    <td>@emps.Mgr</td>
    <td>@emps.Sal</td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { empNo = emps.EmpNo })
    </td>
    <td>
        @Ajax.ActionLink("Delete", "Delete", new { empNo = emps.EmpNo }, new AjaxOptions
   { HttpMethod = "DELETE", UpdateTargetId = emps.EmpNo.ToString(), 
       Confirm = $"\n Confirm deletion\n EmpNo = {emps.EmpNo}\n Name = {emps.EmpName}\n Job = {emps.Job}", 
       InsertionMode = InsertionMode.Replace })
    </td>
</tr>}
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
}

