@model IEnumerable<TheTask.Models.EmpPL>

    <div>
        <input class="form-control" type="text" placeholder="Search..." id="search-text" onkeyup="tableSearch()" style="width:250px">
        <table border="1" width="100%" cellpadding="5" id="info-table">
            <tr>
                <th>DEPTNO</th>
                <th>EMPNO</th>
                <th>ENAME</th>
                <th>COMM</th>
                <th>HIREDATE</th>
                <th>JOB</th>
                <th>MGR</th>
                <th>SAL</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var emps in Model)
            {
    <tr id="@emps.EmpNo">
        <td>@emps.DeptNo</td>
        <td>@emps.EmpNo</td>
        <td>@emps.EmpName</td>
        <td>@emps.Comm</td>
        <td>@emps.HireDate.Value.Month/@emps.HireDate.Value.Day/@emps.HireDate.Value.Year</td>
        <td>@emps.Job</td>
        <td>@emps.Mgr</td>
        <td>@emps.Sal</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { empNo = emps.EmpNo })
        </td>
        <td>
            @Ajax.ActionLink("Delete", "Delete", new { empNo = emps.EmpNo }, new AjaxOptions
            {
                HttpMethod = "DELETE",
                UpdateTargetId = emps.EmpNo.ToString(),
                Confirm = $"\n Confirm deletion\n EmpNo = {emps.EmpNo}\n Name = {emps.EmpName}\n Job = {emps.Job}",
                InsertionMode = InsertionMode.Replace
            })
        </td>
    </tr>}
        </table>
    </div>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    <script>
        function tableSearch() {
            var phrase = document.getElementById('search-text');
            var table = document.getElementById('info-table');
            var regPhrase = new RegExp(phrase.value, 'i');
            var flag = false;
            for (var i = 1; i < table.rows.length; i++) {
                flag = false;
                for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
                    flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
                    if (flag) break;
                }
                if (flag) {
                    table.rows[i].style.display = "";
                } else {
                    table.rows[i].style.display = "none";
                }
            }
        }

    </script>
}

