@model IEnumerable<TheTask.Models.DeptPL>
    <body>
        <div class="split left">
            <div>
                <h4>DEPARTMENTS:</h4>
                <input type="text" id="searchDept" placeholder="Search...">
            </div>
            <table border="1" width="100%" cellpadding="5" id="Dept">
                <tr>
                    <th>DEPARTMENT</th>
                    <th>LOCATION</th>
                </tr>
                @foreach (var depts in Model)
                {
    <tr data-id="@depts.DeptNo">
        <td id="DeptName">@depts.DeptName</td>
        <td>@depts.Loc</td>
    </tr>
       }
            </table>
        </div>
        <div class="split right">
            <h4 id="dName"></h4>
            <div id="rp">

            </div>
        </div>
    </body>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/masterDetail.js")
}
